<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getTitle()}">text</p>
<p th:text="${book.getAuthor()}">text</p>
<p th:text="${book.getYear()}">text</p>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}"><button>Редактировать</button></a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>

<br><hr>

<div th:if="${person == null}">
    <form th:method="PATCH" th:action="@{/books/{id}/take(id=${book.getId()})}">
        <label for="person">Выберите человека: </label>
        <select id="person" th:object="${people}" name="personId">

            <option th:each="person : ${people}"
                    th:value="${person.id}"
                    th:text="${person.getName() + ', ' + person.getId()}"></option>

        </select>

        <input type="submit" value="Подтвердить">
    </form>
    <br>
    <a href="/books"><button>Все книги</button></a>
</div>

<div th:if="${person.getName() != null}">
    <p><span>Книгу читает </span><span th:text="${person.getName()}"}></span></p>
    <form th:method="PATCH" th:action="@{/books/{id}/return(id=${book.getId()})}">
        <input type="submit" value="Вернуть">
    </form>
    <br>
    <a href="/books"><button>Все книги</button></a>
</div>
</body>
</html>